.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem auto;
  width: 440px;
  max-width: 100%;
  color: var(--main-font-color);
  padding: 1rem;
}
.contact-form button {
  width: fit-content;
  align-self: center;
  background-color: var(--btn-hover-bg-color);
  color: white;
  text-transform: capitalize;
  padding-right: 1.3rem;
  padding-left: 1.3rem;
}
.contact-form button:disabled {
  background-color: #6e7073 ;
  border-color: #6e7073;
  cursor:not-allowed;
}
