.user-message {
  margin: 0px auto;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  max-width: 100%;
  border: 1px solid #ced4da;
  padding: 1rem;
  border-radius: 0.4rem;
}
.user-message p a{
  color: rgba(0, 0, 0, 0.55);
}
