.page-wrapper {
  width: 1296px;
  max-width: 100%;
  margin: 1rem auto;
  padding: 1rem 0rem;
}

/* 1296 */
@media (max-width: 1395px) {
  .page-wrapper {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .page-wrapper {
    width: 100vw;
    padding: 1rem;
  }
}
