.textarea-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  gap: 0.4rem;
}
.textarea-container textarea {
  width: 100%;
  max-width: 100%;
  height: 7.5rem;
  min-height: 7.5rem;
  max-height: 300px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.375rem;
  border: 1px solid #ced4da;
  outline-color: #dce3eb;
  resize: vertical;
  font-family: inherit;
}
.textarea-container textarea:focus-visible {
  border: 1px solid #dce3eb;
  outline-color: #dce3eb;
}
.textarea-container.non-valid textarea {
  border-color: #c90707de !important;
  outline-color: #c90707de !important;
}
