.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 2rem;
  overflow: hidden;
}

@media (max-width: 900px) {
  .product-list {
    grid-gap: 1.5rem;
  }
}
