.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 14px;
  height: 14px;
  display: inline-block;
  border-radius: 50%;
  background-color: #04030391;
  box-shadow: 23px 0 #04030391, -23px 0 #04030391;
  animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
  0% {
    background-color: #00000038;
    box-shadow: 23px 0 #00000038, -23px 0 #04030391;
  }
  50% {
    background-color: #04030391;
    box-shadow: 23px 0 #00000038, -23px 0 #00000038;
  }
  100% {
    background-color: #00000038;
    box-shadow: 23px 0 #04030391, -23px 0 #00000038;
  }
}
